.container
  .promoteButtonBox#item
  .bigImgBox
    = image_tag 'HI-img.jpg'
    -#%img{alt: "", height: "445", src: "/assets/images/HI-img.jpg", width: "593"}/

:javascript
  var params = { source: 'http://www.advowire.com',
  title: 'We are raising funds for HireInfluence',
  location: '',
  lat: '',
  lng: '',
   desc: 'We are raising funds for HireInfluence. Please help reach our goal of $1,500,000!',
   img: 'http://radiant-meadow-4881.herokuapp.com/assets/advowire-campaign.jpg',
   token: 'fed64d0659b90ab8fab974f6ee6ca7ca',
   email: 'jason@hireinfluence.com',
   fname: 'Jason',
   lname: 'Pampell'
   }
  var p1 = new AdvoWireAffiliate('item', params);

  $(function(){
  	$('input[type=text], textarea').on('blur', function(){
  		var field = $(this).attr('name');
  		params[field] = $(this).val();
  		console.log($(this).attr('name') + ' -- '+$(this).val());
  		$('#item').html('');
  		p1 = new AdvoWireAffiliate('item', params);
  	});
  });